name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Julia
        uses: julia-actions/setup-julia@v1
        with:
          version: "1"

      - name: Run tests with coverage
        run: |
          julia --project -e 'using Pkg;
            Pkg.activate(".");
            Pkg.add("Coverage");
            Pkg.add("Test");
            Pkg.instantiate();
            Pkg.test(coverage=true);
            using Coverage
            LCOV.writefile("lcov.info", process_folder());
          '

      - name: Submit to Coveralls
        uses: coverallsapp/github-action@v2.2.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info
